<?xml version="1.0"?>
<config>
    <modules>
        <HE_TwoFactorAuth>
            <version>1.0.4</version>
        </HE_TwoFactorAuth>
    </modules>
    <global>
        <models>
            <he_twofactorauth>
                <class>HE_TwoFactorAuth_Model</class>
                <resourceModel>he_twofactorauth_resource</resourceModel>
            </he_twofactorauth>
            <he_twofactorauth_resource>
                <class>HE_TwoFactorAuth_Model_Resource</class>
            </he_twofactorauth_resource>
        </models>
        <blocks>
            <he_twofactorauth>
                <class>HE_TwoFactorAuth_Block</class>
            </he_twofactorauth>
        </blocks>
        <helpers>
            <he_twofactorauth>
                <class>HE_TwoFactorAuth_Helper</class>
            </he_twofactorauth>
        </helpers>

        <events>
            <controller_action_postdispatch_adminhtml>
                <observers>
                    <he_twofactorauth_observer_check>
                        <type>singleton</type>
                        <class>he_twofactorauth/observer</class>
                        <method>check_twofactor_active</method>
                    </he_twofactorauth_observer_check>
                </observers>
            </controller_action_postdispatch_adminhtml>
        </events>

        <resources>
            <he_twofactorauth>
                <setup>
                    <module>HE_TwoFactorAuth</module>
                    <class>HE_TwoFactorAuth_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </he_twofactorauth>
        </resources>

    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <HE_TwoFactorAuth before="Mage_Adminhtml">HE_TwoFactorAuth_Adminhtml</HE_TwoFactorAuth>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <events>
            <admin_session_user_login_success>
                <observers>
                    <he_twofactorauth_observer>
                        <type>singleton</type>
                        <class>he_twofactorauth/observer</class>
                        <method>admin_user_authenticate_after</method>
                    </he_twofactorauth_observer>
                </observers>
            </admin_session_user_login_success>

            <adminhtml_block_html_before>
                <observers>
                    <he_twofactorauth_observer>
                        <type>model</type>
                        <class>he_twofactorauth/observer</class>
                        <method>googleClearSecretCheck</method>
                    </he_twofactorauth_observer>
                </observers>
            </adminhtml_block_html_before>

            <model_save_before>
                <observers>
                    <he_twofactorauth_observer>
                        <type>model</type>
                        <class>he_twofactorauth/observer</class>
                        <method>googleSaveClear</method>
                    </he_twofactorauth_observer>
                </observers>
            </model_save_before>

        </events>

        <layout>
            <updates>
                <he_twofactor>
                    <file>he_twofactor/auth.xml</file>
                </he_twofactor>
            </updates>
        </layout>

        <translate>
            <modules>
                <HE_TwoFactorAuth>
                    <files>
                        <default>HE_TwoFactorAuth.csv</default>
                    </files>
                </HE_TwoFactorAuth>
            </modules>
        </translate>

    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <HE_TwoFactorAuth>
                    <files>
                        <default>HE_TwoFactorAuth.csv</default>
                    </files>
                </HE_TwoFactorAuth>
            </modules>
        </translate>
    </frontend>
    <default>
        <he2falinks>
            <human-element-link>http://www.human-element.com</human-element-link>
            <nexcess-link>https://www.nexcess.net</nexcess-link>
            <docs-link>http://www.human-element.com/sentry-two-factor-authentication-documentation</docs-link>
            <submit-bug-link>http://www.human-element.com/sentry-two-factor-authentication-documentation#bugs</submit-bug-link>
            <multi-auth-link>http://en.wikipedia.org/wiki/Multi-factor_authentication</multi-auth-link>
            <mage-support-link>http://www.human-element.com/magento-support-page</mage-support-link>
            <contact-link>http://www.human-element.com/contact/#contact-form</contact-link>
        </he2falinks>
        <he2faconfig>
            <providers>
                <disabled>
                    <title>Disable multi-factor authentication</title>
                </disabled>
                <duo>
                    <title>Duo Security</title>
                    <link>https://www.duosecurity.com/</link>
                </duo>
                <google>
                    <title>Google Authenticator</title>
                    <link>https://support.google.com/accounts/answer/1066447?hl=en</link>
                </google>
            </providers>
            <duo>
                <validated>NOT VALID</validated>
            </duo>
            <control>
                <logaccess>1</logaccess>
            </control>
        </he2faconfig>
    </default>
</config>