<?xml version="1.0" ?>
<config>
    <tabs>
        <he2faconfig translate="label" module="he_twofactorauth">
            <label>Human Element - Sentry</label>
            <class>sentry-section</class>
            <sort_order>99999</sort_order>
        </he2faconfig>
    </tabs>
    <sections>
        <he2faconfig translate="label" module="he_twofactorauth">
            <label>Two-Factor Auth Settings</label>
            <class>sentry-item sentry-settings</class>
            <tab>he2faconfig</tab>
            <!-- frontend_type>text</frontend_type -->
            <sort_order>20</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <hint>
					<frontend_model>he_twofactorauth/adminhtml_system_config_fieldset_hint</frontend_model>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
                </hint>
                <control>
                    <logging translate="label"/>
                    <label>Provider Selection</label>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <comment>
                        <![CDATA[Choose an authentication provider or disable multi-factor authentication]]>
                    </comment>
                    <fields>
                        <provider>
                            <label>Choose Two Factor Provider</label>
                            <frontend_type>select</frontend_type>
                            <source_model>he_twofactorauth/sysconfig_provider</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment>
                                <![CDATA[Select the security provider for authentication]]>
                            </comment>
                        </provider>

                        <logaccess>
                            <label>Enable access logging</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment>
                                <![CDATA[When enabled, the module will log all access attempts and failures to a file named
                                two_factor_auth.log in Magento's log directory]]>
                            </comment>
                        </logaccess>

                        <logging>
                            <label>Enable debug logging</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment>
                                <![CDATA[When enabled, the module will write debugging information to a file named
                                two_factor_auth.log in Magento's log directory]]>
                            </comment>
                        </logging>


                    </fields>
                </control>
                <duo translate="label">
                    <label>Duo Security</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <comment>
                        <![CDATA[<p><strong>About Duo Security</strong><br/>Duo Security is a leading provider of online
                        Two Factor authentication. For more information, please visit their
                        <a href="https://www.duosecurity.com/" target="_new">website</a>.</p>
                        <p><strong>SETUP</strong> For information on setting up a new account or adding an integration please see one
                        of the following:
                        <ul style="padding-left:15px">
                        <li>To create a Duo account, go to the <a href="https://signup.duosecurity.com/" target="_new">signup</a> page.
                        <li>To get your Integration settings, please visit the
                        <a href="https://admin-41c88c1d.duosecurity.com/integrations" target="_new">Integrations Control Panel</a> in your Duo account.
                        <li>For information on setting up a new integration, please read
                        <a href="https://www.duosecurity.com/docs/getting_started">Getting Started with Duo Security</a>
                        </ul></p>
                        <p>When setting up a new integration select either <strong>"Magento"</strong> or <strong>"Web SDK"</strong> as the type of integration.</p>
                        <p><strong>NOTE!</strong> You must have a DUO account before enabling this module.<br/><p>
                        ]]>
                    </comment>
                    <fields>
                        <ikey>
                            <label>Integration Key</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[The Integration Key from the Duo Security admin dashboard integrations page]]>
                            </comment>
                        </ikey>
                        <skey>
                            <label>Secret Key</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[The Secret Key from the Duo Security admin dashboard integrations page]]>
                            </comment>
                        </skey>
                        <host>
                            <label>Duo Security API hostname</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[Supply the API hostname from the Duo Security admin dashboard integrations page]]>
                            </comment>
                        </host>
                        <akey>
                            <label>Application Key</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>he_twofactorauth/sysconfig_appkey</backend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[The Application Key is a key you create that is unique for your application.
                                Must be at least 40 characters long. Use the autogenerated key above,
                                or create one of your own.]]>
                            </comment>
                        </akey>
                        <validated>
                            <label>Settings Validated</label>
                            <frontend_type>label</frontend_type>
                            <sort_order>1000</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[The authentication settings validation status. Duo authentication can not be used
                            until this field says "VALID"]]>
                            </comment>
                        </validated>
                    </fields>
                </duo>
                <google translate="label">
                    <label>Google Authenticate</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>300</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <comment>
                        <![CDATA[<p><strong>About Google Authenticate</strong><br/>
                        Google Authenticate is a popular two-factor authentication solution. It is free to use, but requires use of a compatible app (freely avaialble from Google). </p>

                        <p>After enabling this option, the first time a user successfully logs in they will be required scan a QR code with their Google Authenticator app in order to setup their Google Authenticator secret code.</p>

                        <p><strong>To login with Google Authenticator, users must use the Google Authenticator app:</strong></p>
                        <ul>
                            <li><a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">For iOS</a></li>
                            <li><a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en">For Android</a></li>
                        </ul>

                        ]]>
                    </comment>  
                </google>
            </groups>
        </he2faconfig>
    </sections>
</config>
